
input {
    background: var(--gray-500);
    
    font-size: 1rem;
    line-height: 140%;
   
    
    box-sizing: border-box;
    border: 1px solid var(--gray-700);
    border-radius: 2px;
}

input::placeholder  {
    padding: 16px;
    color: #ffff;
    line-height: 22.4px;
}